body {
  font-family: sans-serif;
}

#map {
  height: 100vh;
}

.leaflet-container {
  background: darkblue;
}

.marker-cluster {
  background-color: hsla(0, 0%, 100%, 0.7);
  border-radius: 50%;
  width: clamp(20px, 1vw, 50px);
  height: clamp(20px, 1vw, 50px);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ccc;
  /* box-shadow: 0 0 10px orange; */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.51rem;
  font-weight: 700;
}
.popup--header {
  margin-top: 30px;
  margin-bottom: 1rem;
}
.popup--city {
  font-size: 1.5rem;
  font-weight: 600;
}
.popup--latLng {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px;
  background: grey;
  color: white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.popup-container {
  width: 300px;
}

.leaflet-popup-content {
  font-size: 11px;
  margin: 1rem;
}

.chart--canvas-wrapper {
  position: realtive;
}
.chart--canvas {
}

.popup--slide-wrapper {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.popup--slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
  background: hsla(50, 50%, 50%, 0.6);
}

.popup--slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup--slide-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.popup--slide-btn:active {
  transform: scale(1.1);
}

.popup--slide-btn-prev {
  bottom: 5%;
  left: 20%;
}

.popup--slide-btn-next {
  bottom: 5%;
  right: 20%;
}

.map-video {
  position: relative;
}

.mapWrapper {
}

.video-wraper,
.video-wraper iframe {
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-wraper iframe {
}

.customOverlay {
}
